<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <h2 class="my-0 mr-md-auto font-weight-normal ml-5 mt-3">SpringBoot Test</h2>

        <nav class="d-inline-flex mr-2 mt-4 md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none mr-2" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none mr-2" href="/blog">Блог</a>
            <a class="me-3 py-2 text-dark text-decoration-none mr-2" href="/blog/add">Добавить статью</a>
            <a class="me-3 py-2 text-dark text-decoration-none mr-2" href="/about">О Нас...</a>
        </nav>
    </div>
</div>