<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container mt-5 mb-5">
    <h3>Add new person<br></h3>
    <form th:method="POST" th:action="@{/people}" th:object="${person}">
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Enter person name"><br>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <label for="age">Enter age:</label>
        <input type="text" th:field="*{age}" id="age" placeholder="Enter person age"><br>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        <br>
        <label for="email">Enter e-mail:</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Enter person e-mail"><br>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        <br>
        <input type="submit" value="Creat"/>
    </form>
</div>
</body>
</html>