<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>


    <bean id="musicClassic" class="by.test.ClassicMusic">
    </bean>
    <bean id="musicRock" class="by.test.RockMusic">
    </bean>
    <bean id="musicPop" class="by.test.PopMusic">
    </bean>
    <bean id="musicRap" class="by.test.RapMusic">
    </bean>

    <bean id="musicPlayer" scope="prototype" class="by.test.MusicPlayer">
        <property name="musicList" >
            <list>
                <ref bean="musicClassic"/>
                <ref bean="musicRock"/>
                <ref bean="musicPop"/>
                <ref bean="musicRap"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>

    </bean>
</beans>